{{> navigation }}

<div class="container">
    <h1>{{Nombre}} {{Apellido}}</h1>
    <p>Fecha de Nacimiento: {{FechaNacimiento}}</p>
    <h2>Genealogía</h2>
    <div class="timeline">
        {{#each Genealogy}}
        <div class="timeline-item card mb-3">
            <div class="card-body">
                <img src="{{ImagenUrl}}" alt="{{Nombre}}" class="img-fluid rounded-circle" width="100">
                <p>{{Relacion}}: {{Nombre}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>